*, body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Primary styles start */

.primary-margin{
    max-width: 1440px;
    margin: 180px auto;
}
.primary-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.primary-paragraph{
    text-align: center;
    padding-bottom: 30px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    border: 0px;
    font-size: 20px;   
    /* font-weight: 700; */
}

/* header styles  */
.header{
    background: rgba(229, 84, 115, 0.10);
    margin:0%;
    display: flex;
    padding: 0px 240px;
    height: 800px;
}
.header-paragraph{
    margin-bottom: 30px;
}
.header-container{
    /* display: center; */
    padding-top: 100px;
    width: 50%;
}
.header-img{
    height: 100%;
    width: 50%;
    margin-bottom: -200px;
}
.header-img img{
    height:600px;
    margin-top: 200px;
    margin-left: 150px;
    
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.header-container{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}


/* Feature section style  */
.featured-details{
    margin: 178px 0px 48px 0px;
}
.featured-container{
   width: 100%;
   justify-content: center;
   display: flex;
   gap: 24px;
}
.featured-pictures a{
   display: block;
    /* align-items: center; */
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;

}
.img-bg{
    margin: 0 auto;
    width: 300px;
    height: 350px;
    padding: 70px 35px ;

    padding-bottom: 0;
    border-radius: 300px 300px 0px 0px;
    
}
.img-bg-1{
    background: url(<path-to-image>), rgba(167, 33, 98, 0.15) 50% / cover no-repeat;/
}
.img-bg-2{
    background: url(<path-to-image>), rgba(5, 151, 160, 0.15) 50% / cover no-repeat;/
}
.img-bg-3{
    background: url(<path-to-image>), rgba(71, 125, 17, 0.15) 50% / cover no-repeat;/
}


/* Hot-deals style start  */
.hot-deals{
    
    width: 100%;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0 100px 0;
}
.hot-deal-content{
    width: 50%;
    text-align: center;
}
.hot-deal-container{
    /* width: 100%; */
    justify-content: center;
    display: flex;
    border-radius: 8px;
    /* background: rgba(229, 84, 115, 0.05); */
    padding: 100px 0 100px 0;
    padding: 0 240px;
}
.title{
    padding-top: 70px;
}
.deal-special{
    color: #E55473;
}
.flower{
    width: 50%;
    display: flex;
    justify-content: center;
}
/* .flower img{
    width: 50%;
    margin: 0 auto;
} */

/* Instagram section style  */
.insta-img{
    display: flex;
    gap: 24px;
}

/* latest-deals style start  */
.latest-deals{
    margin-bottom: 0;
    padding: 122px 0 122px 0;
    justify-content: center;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
}
.latest-deals-input-container{
    width: 100%;
    text-align: center;
}
.latest-deals-input{
    border: 0px;
    background-color: white;
    width: 700px;
    height: 64px;
    padding-left: 22px;
}
/* bonus section style  */
.bonus-part{
    display: flex;
    justify-content: center;
    margin-bottom: 128px;
}
.card {
    
    margin-right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18.07%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .bonus-container {
    padding: 2px 16px;
  }


/* Footer section style  */
.footer{
    padding: 128px 0 128px 0;
    width: 100%;
    background-color: #111010;
    text-align: center;
}
.footer-paragraph{
    color: rgba(255, 255, 255, 0.90);
/* text-align: center; */
font-size: 18px;
font-weight: 400;
}
#footer title{
    color: #d96161;
    
}
footer h1{
    color: white;
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}