*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/* Primary styles start */

.primary-margin{
    margin: 180px 240px;
}
.primary-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.primary-paragraph{
    text-align: center;
}

/* header styles  */
.header{
    /* width: 1920px;
    height: 850px; */
    background: rgba(229, 84, 115, 0.10);
    margin:0%;
    display: flex;
    padding: 0px 240px;
}
.header-container{
    display: center;
    padding-top: 100px;
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.header-container{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    border: 0px;
    font-size: 20px;   
    /* font-weight: 700; */
}



